# Ignore the build and lib dirs
build/
out/
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore Krita files backup
*.kra~
*.png~

# Ignore vscode configs
.vscode

resources/
*.tsx
*.tmx
*.csv
CMakeSettings.json

# Ignore Visual Studio folders
.vs/
